body {
	font-family: sans-serif;
}

.resultData {
	box-shadow: 5px 5px 5px lightgrey;
	border: 1px solid grey;
	border-radius: 0px 0px 5px 5px;
	padding: 1em;
	display: none;
	font-size: 18px;
	width: 32%;
	margin-left: 10em;
	position: absolute;
	background-color: white;
}

#inpSearch {
	width: 60%;
}

#inpSearch:focus {
	width: 80%;
	transition: 0.25s;
}

.searchImg {
	height: 4.5em;
	width: 4.5em;
}

.product {
	padding: 1em;
	border: 1px solid lightgrey;
}

.listImg {
	width: 12.5em;
	height: 12.5em;
}

.wrapper {
	width: 90%;
	margin: auto;
}

.productSearch {
	width: 100%;
	padding: 1em;
}

.product:hover {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
	border-bottom: 3px solid black;
	transition: 0.5s;
}

.productSearch:hover {
	transition: 0.5s;
	background-color: black;
	color: white;
	cursor: pointer;
}

#selectOrder {
	margin-top: 1em;
	margin-bottom: 1em;
}

/* Product page */
#product {
	display: none;
}

#other-products {
	float: right;
	border-left: 2px solid lightgrey;
	width: 35%;
	padding-left: 1em;
}

#rel-product {
	border: 1px solid lightgrey;
	padding: 0.5em;
}

#rel-product:hover {
	color: blue;
	text-decoration: underline;
	border: 1px solid black;
}
