name: Build and Push Docker Image to GCR

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    env:
      REPO: eu.gcr.io/gitops-cluster
      IMAGE: flask-app
    outputs:
      tag: ${{ steps.version_bump.outputs.tag }}
    steps:
      # Checkout code (to get helm chart)
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0


      # Set version and push tag
      - name: Set version
        id: version_bump
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
          DEFAULT_BUMP: "patch"
          RELEASE_BRANCHES: "master,main"
      

      # Setup GCP
      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v0
        with:
          service_account_email: ${{ secrets.GKE_EMAIL }}
          service_account_key: ${{ secrets.GKE_KEY }}
          export_default_credentials: true

      - run: gcloud auth configure-docker
      # Push image
      - name: Build docker
        run: docker build flask/. -t $REPO/$IMAGE:${{ steps.version_bump.outputs.tag }}
      - name: Push image
        run: docker push $REPO/$IMAGE:${{ steps.version_bump.outputs.tag }}